version: '3.9'

services:
  db:
    image: postgres:15
    container_name: messenger_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: messenger
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
