@import "tailwindcss";


html, body {
  @apply bg-gray-900 text-white;
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; 
}

::-webkit-scrollbar-thumb {
  background-color: #374151; 
  border-radius: 4px;
}

